@model Blog.Models.Comment
@{
    ViewBag.Title = "Comment";
}

<h2>Add Comment</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    if (ViewBag.PostId != null && (Request.HttpMethod.ToString() == "POST"))
    {
        { Model.PostId = ViewBag.PostId; }
    }
    <div class="form-horizontal">

        <div class="form-group">
            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Content, new { @class = "form-control", @rows = 3, @cols = 10 })
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
        </div>

      
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Comment" class="post-button-comment btn btn-blue btn-effect" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
